/*------------------------------
Deafault Theme
--------------------------------
Colors: 
    main Color  : #DE6A1C
    Sub Color   : #49B705
    white Somke : #f4f4f4
    white       : #fff
    Black:      : #000

-----------------------------//

/*===============================
            Html, body
===============================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800|Roboto&display=swap');
html, body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
    // font-family: "Hannari, sans-serif";
}

p {
    color: white;
    font-family: "Sawarabi Mincho, , sans-serif";
}

/*===============================
            Navber
===============================*/



.global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 40px;
    background-color: #DE6A1C;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
}

.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
}

.global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.global-nav__item {
    text-align: center;
    padding: 0 14px;
}

.global-nav__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
}

.global-nav__item a:hover {
    background-color: #eee;
}

.hamburger__line {
    position: absolute;
    left: 11px;
    width: 18px;
    height: 1px;
    background-color: #111;
    transition: all .6s;
}


.hamburger__line--1 {
    top: 14px;
}

.hamburger__line--2 {
    top: 20px;
}

.hamburger__line--3 {
    top: 26px;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
}

.nav-open .global-nav {
    right: 0;
}

.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

.nav-open .hamberger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}

.nav-open .hamburger__line--1 {
    width: 0;
    left: 50%;
}

.nav-open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 20px;
}

/* -------------------------
hamburger　修正
// --------------------------

// .hamburger {
//     & .mobile-menu-icon {
//         & span {
//             background-color: white;

//             &:nth-child(1) {
//                 transition-delay: 70ms;
//                 transform: translateY(11px) rotate(135deg);
//             }
//             &:nth-child(2) {
//                 transition-delay: 0s;
//                 transform: translateX(-18px) scaleX(0);
//             }
//             &:nth-child(3){
//                 transition-delay: 140ms;
//                 transform: translateY(-11px) rotate(-135deg);
//             }
//         }
//     }
// }


/*====================================
                top
======================================*/

.all {
    width: 100%;
    height: 100%;
}

.main-message_1 h1 {
    font-family: "Hannari, sans-serif";
    font-size: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    color: red;
}



.main-message_2 p {
    font-size: 20px;
    padding-left: 30px;
}

.img__kaki__1 {
    width: 150%;
}

.img__kaki__2 {
    width: 100%;
}

.img__kaki__3 {
    width: 100%;
}

.img__kaki__4 {
    width: 100%;
}




/*===============================
            CONCEPT
===============================*/



.concept {
    background-color: #DE6A1C;
}

.title h1 {
    
    text-align: center;
    
}






/*===============================
        PRODUCT
===============================*/
.product {
    background: url("kaki/kaki7.jpg");
    background-size: cover;
}

.sec__inner {
    flex-direction: column;
    display: flex;
}

/*===============================
        ABOUT KAKI
=================================*/
.about {
    background: url(kaki/kaki8.jpg);
    background-size: cover;
}