@charset "UTF-8";
@import 'mixin';
@import '_mobile-menu.scss';
/*------------------------------
Deafault Theme
--------------------------------
Colors: 
    main Color  : #DE6A1C
    Sub Color   : #49B705
    white Somke : #f4f4f4
    white       : #fff
    Black:      : #000

-----------------------------//


/*===============================
                Vars
===============================*/
    $cBlack: black;
    $cWhite: white;
    $cMenuClose: $cBlack;
    $cMenuOpen: $cBlack;


/*===============================
            Html, body
===============================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800|Roboto&display=swap");


h1,
h2,
h3,
span {
  color: $cBlack;
  font-family: 'Noto Serif JP', serif;
  margin: 0;
  padding: 0;
}

h4,
h5,
h6 {
  color: #000;
  font-family: 'Noto Serif JP', serif;
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0;
  padding: 0;
}

// font-family: 'Noto Serif JP', serif;
// font-family: 'Sawarabi Gothic', sans-serif;
// font-family: 'Sawarabi Mincho', sans-serif;

ul {
  // list-style: none;
}

.sec {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


/*===============================
            header
===============================*/
.hed {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 10;
  // border-bottom: 1px solid rgba(255,255,255,0.1);

  & .triggered {
    background-color: rgba(38,50,70,0.9);
    box-shadow: 10px 0 25px -10px rgba(0,0,0,0.5);
  }
  
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;

    &__img { width: 5%; } 

    &__ttl { color:$cBlack; }
    
    &__ttl2 {
      font-size: 20px;
      color: #DE6A1C;
    }

    &__ul {
      padding-right: 100px;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0 0 0 -430px;
      list-style: none;
    }

    &__li {
      padding: 0;
      margin: 10px;
      
      & > a {
        color: $cBlack;
      }
    }
  }
}
/*====================================
                top
======================================*/

.swiper {
  &-container {
    width: 100%;
  }

  &_title {
    position: absolute;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    color: $cWhite;;
    
    &__first {
      // top: 20%;
      // left: 80%;
      padding: 20% 0 10% 130%;
    }
    &__second {
      // top: 35%;
      // left: 75%;
      padding: 35% 0 10% 120%;
      
    }
    &__third {
      top: 30%;
      left: 20%;
    }
    &__fourth {
      top: 55%;
      left: 15%;
    }
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 2;
    height: 70px;
    width: 20px;
    overflow: hidden;
  }

  &__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
  }

  &__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);
    left: -8px;
    top: 11px;
    font-size: 1.2em;
  }
}

.swiper-slide-active {
  & .hed_img {
    transform: none;
  }
}

.hed_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}

/*===============================
            CONCEPT
===============================*/
.concept {background-color: #fff;}

.fadeInLeft {
  animation-duration: 0.8s;
  animation-delay: 0s;
}

.con__ttl {
  font-size: 50px;
  margin-top: 150px;
  text-align: center;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

.con_txt {
  text-align: center;
  font-size: 15px;
  padding-bottom: 200px;
  padding-top: 100px;
  &__p {margin-bottom: 10px;}
  &__pz {margin-top: 30px;}
}
/*===============================
            PRODUCT
===============================*/
.prd {
  background-color: #f4f4f4;
  
  &_ttl {
    font-size: 50px;
    text-align: center;
    padding: 200px 0;
  }

  &_inner {
    text-align: center;
    padding: 100px 0;

    &__img2 {
      width: 100%;
      padding: 20px; 
    }

    &__txt2 {
      font-size: 20px;
      padding: 30px;
    }

    &__txt3 {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}
.animate__animated.animate__fadeInRightBig {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInleft {
  --animate-duration: 2s;
}
/*=========================
      shopping
===========================*/
.shop {
  text-align: center;
  padding-top: 50px;

  &_ttl {
    font-size: 50px;

  }
  &_txt {
    margin-top: 10px;
    padding-bottom: 50px;
  }
  &_inner {
    background-color: rgba(255, 255, 255, 0.7);
    top: -500px;
    
    &__img {
      text-align: center;
      width: 100%;
      // padding: 200px;
      // background-image: url(kaki/kaki5.jpg);
      background-position: center;
      background-size: cover;
    }

    &__ttl {
      font-size: 30px;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    &__txt {
      font-size: 15px;
      margin-bottom: 10px;  
    }
    &__txtz {
      font-size: 20px;
      padding: 20px 0;
    }
    &__btn {
      position: relative;
      display: inline-block;
      background-color: $cWhite;
      border: 1px solid $cBlack;
      font-weight: 600;
      padding: 10px 40px;
      margin: 10px auto;
      cursor: pointer;
      transition: all 0.3s;
      color: #DE6A1C;
      text-decoration: none !important;
    }

    &__float:hover {
      background-color: #DE6A1C;
      color: $cWhite;
      box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
/*=======================
        Profile
=========================*/
.prf {
  background-color: #f4f4f4;

  &_ttl {
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
  }

  &_inner {
    padding: 100px 0;

    &__name {
      font-size: 30px;
      padding-bottom: 30px;
    }
  
    &__txt {
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    &__img {
      width: 100%;
    }
  }
}
/*=====================
        FOOTER
=======================*/
.logo {
  padding-top: 50px;
  font-size: 40px;
  // display: flex;
  text-align: center;

  &__img {
    width: 5%;
  } 
  
  &__ttl2 {
    color: #DE6A1C;
  }
}

.footer__sns {
  padding-top: 20px;
  text-align: center;
}
/*=========================
      media queries 
==========================*/

// ======iPhone===== //
@media screen and (min-width: 320px) and (max-width: 759px) {
  .hed_inner__nav {
    display: none;
  }

  .mobile-menu__btn {
    text-align: right;
  }

  .mobile_txt {
    top: 350px;
  }

  .mobile_img {
    top:-200px;
  }

  .shop_inner {
    position: initial;
    background-color: rgb(245,244,240);
    margin-bottom: 50px;
  }
}

// =======Small Device======= //

@media screen and (min-width: 760px) and (max-width: 991px) {
  .hed_inner__nav {
    display: none;
  }

  .mobile-menu__btn {
    text-align: right;
  }

  .shop_inner {
    position: initial;
    padding: 10px 0;
    background-color: rgb(245,244,240);
    margin-bottom: 50px;
  }
}


// ==========Medium Device========= //
@media screen and (min-width: 992px) and (max-width: 1119px) {
  .hed_inner__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
}

// ==========Large Devices========== //
@media screen and (min-width: 1200px) {
  .hed_inner__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
}