@charset "UTF-8";
@import 'mixin';
/*------------------------------
Deafault Theme
--------------------------------
Colors: 
    main Color  : #DE6A1C
    Sub Color   : #49B705
    white Somke : #f4f4f4
    white       : #fff
    Black:      : #000

-----------------------------//

/*===============================
            Html, body
===============================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800|Roboto&display=swap");


h1,
h2,
h3 {
  color: white;
  font-family: "Hannari";
  margin: 0;
  padding: 0;
}

h4,
h5,
h6 {
  color: #000;
  font-family: "Hannari";
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  font-family: "Sawarabi Mincho";
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.sec {
  width: 100%;
  height: 100%;
}

/*===============================
            Vars
===============================*/
$White: white;
$Black: black;


/*===============================
            Navber
===============================*/
header {
  width: 100%;
  height: 5rem;
  background-color: #f4f4f4;
}
.containner {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1px solid rgba(255, 255, 255, .2);
} 

.inner_logo {
  width: 100%;
}

.nav-brand {
  width: 2rem;
}

.menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}

.close i {
  color: #DE6A1C;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0,0,0, .7);
}



/*====================================
                top
======================================*/
.swiper {
  &-container {
    width: 100%;
    height: 700px;
  }

  &_title {
    position: absolute;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    
    &__first {
      top: 20%;
      left: 80%;
    }
    &__second {
      top: 35%;
      left: 75%;
      
    }
    &__third {
      top: 30%;
      left: 20%;
    }
    &__fourth {
      top: 55%;
      left: 15%;
    }
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 2;
    height: 70px;
    width: 20px;
    overflow: hidden;
  }

  &__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
  }

  &__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);
    left: -8px;
    top: 11px;
    font-size: 1.2em;
  }
}

.swiper-slide-active {
  & .hed_img {
    transform: none;
  }
}

.hed_img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/*===============================
            CONCEPT
===============================*/
.concept {background-color: #fff;}

.fadeInLeft {
  animation-duration: 0.8s;
  animation-delay: 0s;
}

.con__ttl {
  font-size: 50px;
  margin-top: 150px;
  text-align: center;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

.con_txt {
  text-align: center;
  font-size: 15px;
  padding-bottom: 200px;
  padding-top: 100px;
  &__p {margin-bottom: 10px;}
  &__pz {margin-top: 30px;}
}
/*===============================
            PRODUCT
===============================*/
.prd {
  background-color: #f4f4f4;
  
  &_ttl {
    font-size: 50px;
    text-align: center;
    padding: 200px 0;
  }

  &_inner {
    text-align: center;
    padding: 100px 0;

    &__img {
      width: 100%;
    }

    &__ttl {
      font-size: 20px;
      padding: 30px;
    }

    &__txt {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}
.animate__animated.animate__fadeInRightBig {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeInleft {
  --animate-duration: 2s;
}
/*=========================
      shopping
===========================*/
.shop {
  text-align: center;
  padding: 100px 0;

  &_ttl {
    font-size: 50px;

  }
  &_txt {
    margin-top: 10px;
  }
  &_img {
    text-align: center;
    padding: 200px;
    background-image: url(kaki/kaki5.jpg);
    background-position: center;
    background-size: cover;
  }
  &_inner {
    background-color: rgba(255, 255, 255, 0.7);

    &__ttl {
      font-size: 30px;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    &__txt {
      font-size: 15px;
      margin-bottom: 10px;  
    }
    &__txtz {
      font-size: 20px;
      padding: 20px 0;
    }
    // &__btn { padding-top: 30px; }
  }
}





/*===============================
        Reviews
=================================*/
.abu_inner__img {
  width: 80%;
  padding-bottom: 150px;
}

.abu_inner__img2 {
  width: 80%;
  padding: 50px 0;

}

.abu_inner__ttl {
  font-size: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.abu_inner__txt {
  font-size: 20px;
  margin-bottom: 10px;
} 

/*=======================
        Profile
=========================*/
.prf {
  background-color: #f4f4f4;

  &_ttl {
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
  }

  &_inner {
    padding: 100px 0;

    &__name {
      font-size: 30px;
      padding-bottom: 30px;
    }
  
    &__txt {
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    &__img {
      width: 100%;
    }
  }
}

/*=====================
        FOOTER
=======================*/
.footer {
  background-color: #f4f4f4;
  text-align: center;
}

.logo {
  height:　150px;
  width: 150px;
  margin: 100px auto;
  display: block;
}

.fot__illust1 {
  height: 200px;
  width: 250px;
  top: 50px;
  left: 50px;
}

.fot__illust2 {
  height: 200px;
  width: 250px;
  position: absolute;
  top: 50px;
  left: 450px;
}

/*# sourceMappingURL=style.css.map */