@charset "UTF-8";
/*------------------------------
Deafault Theme
--------------------------------
Colors: 
    main Color  : #DE6A1C
    Sub Color   : #49B705
    white Somke : #f4f4f4
    white       : #fff
    Black:      : #000

-----------------------------//

/*===============================
            Html, body
===============================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800|Roboto&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "Hannari";
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-family: "Sawarabi Mincho";
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.sec {
  width: 100%;
  height: 100%;
}

/*===============================
            Vars
===============================*/
/*===============================
            Navber
===============================*/
header {
  width: 100%;
  height: 5rem;
  background-color: #f4f4f4;
}

.containner {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.inner_logo {
  width: 100%;
}

.nav-brand {
  width: 2rem;
}

.menu-icons i {
  font-size: 3.5rem;
  color: #000;
  cursor: pointer;
}

.close i {
  color: #DE6A1C;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1500;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

/*====================================
                top
======================================*/
.swiper-container {
  width: 100%;
  height: 700px;
}

.swiper_title {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}

.swiper_title__first {
  top: 20%;
  left: 80%;
  -webkit-transform: translate(-20%, calc(-20% + 20%));
          transform: translate(-20%, calc(-20% + 20%));
  z-index: 1;
  opacity: 2;
  -webkit-transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
}

.swiper_title__second {
  top: 35%;
  left: 75%;
  -webkit-transform: translate(-35%, calc(-35% + 20%));
          transform: translate(-35%, calc(-35% + 20%));
  z-index: 1;
  opacity: 2;
  -webkit-transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
}

.swiper_title__third {
  top: 30%;
  left: 20%;
  -webkit-transform: translate(-30%, calc(-30% + 20%));
          transform: translate(-30%, calc(-30% + 20%));
  z-index: 1;
  opacity: 2;
  -webkit-transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
}

.swiper_title__fourth {
  top: 55%;
  left: 15%;
  -webkit-transform: translate(-55%, calc(-20% + 20%));
          transform: translate(-55%, calc(-20% + 20%));
  z-index: 1;
  opacity: 2;
  -webkit-transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
  transition: opacity 0.3s ease 1s transform 0.3 ease 1s;
}

.swiper-slide-active .swiper_title {
  opacity: 1;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
}

.swiper-slide-active .hed_img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide {
  overflow: hidden;
}

.hed_img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

/*===============================
CONCEPT
===============================*/
.concept {
  background-color: #fff;
}

.con__ttl {
  font-size: 80px;
  margin-top: 150px;
}

.con_txt {
  font-size: 20px;
  padding-bottom: 150px;
  margin-top: 50px;
}

.con_txt__p {
  margin-bottom: 10px;
}

/*===============================
PRODUCT
===============================*/
.prd_inner__img {
  width: 100%;
  padding: 200px 0;
}

.prd_inner {
  padding: 150px 50px;
}

.prd_inner__ttl {
  font-size: 40px;
  padding: 50px  0;
}

.prd_inner__txt {
  font-size: 20px;
  margin-bottom: 15px;
}

/*===============================
    ABOUT KAKI
    =================================*/
.abu_inner__img {
  width: 80%;
  padding-bottom: 150px;
}

.abu_inner__img2 {
  width: 80%;
  padding: 50px 0;
}

.abu_inner__ttl {
  font-size: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.abu_inner__txt {
  font-size: 20px;
  margin-bottom: 10px;
}

/*=========================
      shopping
===========================*/
.shopping {
  background-color: #f4f4f4;
}

.shop_inner__img {
  width: 100%;
  padding-top: 180px;
  padding-bottom: 180px;
}

.shop_inner {
  text-align: center;
}

.shop_inner__ttl {
  font-size: 50px;
  padding: 180px 50px 50px 50px;
  color: #000;
}

.shop_inner__txt {
  color: #000;
  font-size: 15px;
  margin-bottom: 10px;
}

.shop_inner__txtz {
  font-size: 20px;
  padding: 20px 0;
}

.shop_btn {
  padding-top: 30px;
}

/*=======================
        Profile
=========================*/
.profile {
  background-color: white;
}

.prf__ttl {
  font-size: 50px;
  padding: 150px 0 50px 0;
}

.prf__txt {
  font-size: 20px;
  margin-bottom: 5px;
}

.prf__img {
  width: 100%;
  padding: 175px 0;
}

/*=====================
        FOOTER
=======================*/
.footer {
  background-color: #f4f4f4;
  text-align: center;
}

.logo {
  height: 　150px;
  width: 150px;
  margin: 100px auto;
  display: block;
}

.fot__illust1 {
  height: 200px;
  width: 250px;
  top: 50px;
  left: 50px;
}

.fot__illust2 {
  height: 200px;
  width: 250px;
  position: absolute;
  top: 50px;
  left: 450px;
}
/*# sourceMappingURL=style.css.map */